.main__list-container {
    display: flex;
    justify-content: space-between;
}

.main__list-container p {
    margin-right: 1.5em;
}

.main__list-container_picture {
    margin: 1.5em;
}

.main__list-container_picture_picture {
    width: 100%;
    height: auto;
    z-index: 1;
}

.main__news p {
    width: 55%;
}

.main__news_cards {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.main__news_cards_card {
    max-height: 15em;
    min-width: 15em;
    margin: 1em 2em;
    padding: 1em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    /* overflow: hidden; */

}

@media (max-width: 62em) {
    .main__list-container {
        flex-direction: column;
    }
}

@media (max-width: 45em) {
    .main__list-container p {
        margin-right: auto;
    }

    .main__list-container_picture {
        margin: 0.5em;
    }

    .main__news p {
        width: 100%;
    }

}