body {
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 80px 1.5em 1em 1.5em;
    /* padding-top: 80px; */
    margin: 1em auto;
    background-color: rgb(242, 244, 248);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(184 194 215 / 30%) 0px 4px 6px, rgb(184 194 215 / 10%) 0px 5px 7px;
    margin: 0 1em 2em 1em;
    padding: 1em 3em;
}

h1, h2, h3, h4, h5, h6, p, pre code {
    margin: 0;
}

.topnav {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 85em;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 244, 248);
}

.topnav__icon-name {
    display: flex;
}

.darkmode {
    background-color: rgb(0, 30, 60);
    color: white;
}

/* .header__darkmode-switch {
    float: right;
} */

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
}

.h2-styled {
    border-top: 1px solid rgb(0, 0, 0);
    width: 10em;
    padding-top: 0.5em;
}

p {
    margin: 1em 0;
    text-align: left;
}

.topnav__icon-name_textbox {
    display: flex;
    flex-direction: column;
}

.topnav__icon-name_textbox h1 {
    margin-bottom: 0px;
}

.topnav__icon-name_textbox p {
    color: #9e9e9e;
    margin: 0px;
    
}

.topnav__icon-name_icon {
    height: 3.5em;
    margin: 0 1em;
}

.topnav__navbox {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.topnav__navbox_button {
    display: none;
} 

.topnav__navbox_account {
    width: 3em;
    margin: 1em;
    /* height: 3em; */
}

.topnav__navbox_switch {
    margin: 1em;
}

.topnav__navbox_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.topnav__navbox_nav li {
    margin: 2em 1em;
    text-align: center;
}

.topnav__navbox_nav a {
    /* flex: 1 1 0; */
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.3em 0.3em;
    /* margin: 0 0.5em; */
}

.topnav__navbox_nav a:hover {
    background-color: rgb(233, 235, 241);
}


.main__list-container {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 62em) {
    .topnav__icon-name_textbox {
        justify-content: center;
    }

    .topnav__icon-name_textbox p {
        display: none;
    }
    
    .main__list-container {
        flex-direction: column;
    }
}

@media (max-width: 45em) {
    .topnav__navbox_button {
        display: block;
        margin: 1.5em 1em 1em;
        background-color: inherit;
        border: none;
    }

    .topnav__navbox_nav {
        position: relative;
        display: flex;
    }

    .topnav__navbox_nav ul {
        display: none;
        position: absolute;
        margin-top: 3.5em;
        min-width: 9em;
        left: -2.5em;
        border-radius: 8px;
    }

    .topnav__navbox_nav:hover ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(242, 244, 248);
    }

}

.main__list-container p {
    margin-right: 1.5em;
}

.main__list-container_picture {
    margin: 1.5em;
    /* width: 50%; */

}

.main__list-container_picture_picture {
    width: 100%;
    height: auto;
    z-index: 1;
    
}

/* .main__list-container_picture_shadow {
    position: relative;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.60)) blur(10px);
} */

.main__news p {
    width: 55%;
}

.main__news_cards {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.main__news_cards_card {
    margin: 1em 2em;
    padding: 1em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;

}

pre {
    margin: 2em 15% ;
}

pre code {
    font-family: 'Source Code Pro';
    font-size: 0.8em;
    background-color: rgb(236, 239, 244);
    color: rgb(76, 86, 106);
    /* font-family: monospace; */
    display: block;
    padding: 20px;
    border-radius: 8px;
    white-space: pre-wrap;
    overflow: auto;

}

footer {
    color: #9e9e9e;
}

.footer-author {
    text-align: center;
    right: 0;
    bottom: 0;
}