.list-container {
    display: flex;
    justify-content: space-between;
}

.list-container p {
    margin-right: 1.5em;
}

.list-container__picture {
    margin: 1.5em;
}

.list-container__picture img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.news p {
    width: 55%;
}

.news__cards {
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.news__cards_card {
    max-height: 15em;
    min-width: 15em;
    margin: 1em 2em;
    padding: 1em;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    /* overflow: hidden; */

}

@media (max-width: 62em) {
    .list-container {
        flex-direction: column;
    }
}

@media (max-width: 45em) {
    .list-container p {
        margin-right: auto;
    }

    .list-container__picture {
        margin: 0.5em;
    }

    .news p {
        width: 100%;
    }

}